@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   @*  //<h1>Connection Reading : @Model.Connection</h1> *@
    <h1> UserName : @Model.Username</h1>
</div>
